<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  
</head>
<body> 
    <%- include('../partials/adminHeader.ejs')  %>
    <div class="container mx-auto max-w-[1350px] page-content">
       
        <main class="main">
            
            <%- body %>
            </main>
           
    </div>
    <script src="/js/nav.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- end script -->

</body>
</html>