<div class="relative mb-28 mt-6 h-[80vh]">
  <video src="../imgs/others/clothing_-men.mp4" controls autoplay loop class="cover md:h-full h-[40vh]" class="z-10"></video>
  <!-- <div class="video-words w-[400px]">
<h1 class="capitalize font-extrabold text-center font-mono text-4xl">the only way for self confidence</h1>
<p class="text-center font-mono mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, quibusdam? Culpa ab dolor veniam architecto enim possimus reprehenderit id repellat consequatur obcaecati explicabo itaque corporis laboriosam ipsa eaque, perspiciatis veritatis.</p>
  </div> -->
</div>
<div class="first-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-1 mt:10">
    <div class="women lg:col-span-4 relative w-full">
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"></div>
        <img src="../imgs/front/2_W.jpg" alt="" class="bg-cover bg-no-repeat">
        <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/women">Women</a>
    </div>
    <div class="men lg:col-span-2 relative">
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"></div>
      <img src="../imgs/front/1.jpg" alt="" class="bg-cover object-cover bg-no-repeat h-full">
      <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/men">Men</a>
    </div>

    </div>
    <div class="second-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-8 gap-1 mt-1">
<div class="women-2 lg:col-span-2 relative w-full">
<img src="../imgs/front/3_W.jpg" alt="" class="bg-cover bg-no-repeat h-full">
</div>
<div class="man-2 lg:col-span-4 relative w-full">

<video src="../imgs/front/man-intro.mp4" autoplay loop></video>
<div class="">
  <h1 class="capitalize text-4xl font-extrabold text-center">the classing men</h1>
  <h2 class="capitalize text-4xl font-extrabold text-center">get your fit</h2>
</div>
</div>
<div class="women-2 lg:col-span-2 relative w-ful">
<img src="../imgs/front/4_W.jpg" alt="" class="bg-cover bg-no-repeat object-cover h-full">
</div>
    </div>
    <div class="third-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-9 gap-1 mt-1">
      <div class="man-3 lg:col-span-3 relative w-full">
        <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"></div>
        <img src="../imgs/front/7ring.jpg" alt="" class="bg-cover bg-no-repeat h-full">
        <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/women_jewelary">Jewelary</a>
      </div>
      <div class="man-3 lg:col-span-3 relative w-full">
        <img src="../imgs/front/3.jpg" alt="" class="bg-cover bg-no-repeat h-full">
        <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/men/men_watches">Watches</a>
      </div>
      <div class="man-3 lg:col-span-3 relative w-full">
        <img src="../imgs/front/man-landscape1.jpg" alt="" class="bg-cover bg-no-repeat h-full">
      </div>
    </div>
