<section class="mt-4">
  <div class="first-section uppercase md:px-8 px-3 rounded-lg">
      <div class=" lg:col-span-4 relative w-full lg:h-[80dvh] md:h-[45dvh] h-[40dvh]">
        <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10 rounded-lg"></div>
          <img src="../imgs/front/hero_woman2.jpg" alt="" class="object-cover bg-no-repeat lg:h-[80dvh] md:h-[45dvh] h-[40dvh] w-full rounded-lg">
          <div class="absolute lg:bottom-12 md:bottom-16 bottom-8 z-10 translate-y-[-50%] top-[50%]   translate-x-[-50%] left-[50%]  w-auto text-white gap-5 flex flex-col justify-center items-center">
              <div class="flex justify-center items-center flex-col gap-1">
                  <h1 class="lg:text-6xl text-2xl md:text-4xl font-bold text-center">Indulge yourself with the finest outfits</h1>
              </div>
              <a href="">
                  <button class=" text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150 rounded-xl border-2 bg-transparent">ShopNow</button>
              </a>
          </div>
      </div>
      </div>
</section>


<section class="md:mt-20 mt-8 md:px-8 px-3">
    <div class="md:py-6 py-2">
        <h1 class="lg:text-6xl text-2xl md:text-4xl text-start font-bold">
           Newest arrivals
        </h1>
    </div>
    <p class="block py-2 md:hidden text-right"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: rgb(205, 219, 240);transform: ;msFilter:;"><path d="m13.061 4.939-2.122 2.122L15.879 12l-4.94 4.939 2.122 2.122L20.121 12z"></path><path d="M6.061 19.061 13.121 12l-7.06-7.061-2.122 2.122L8.879 12l-4.94 4.939z"></path></svg></p>
         <!-- Swiper -->
         <div class="swiper mySwiper2" id="swiper-2">
            <div class="swiper-wrapper h-[250px]">
        
        
             
                <div class="swiper-slide relative cursor-pointer">
                  <a href="/">
                    <figure class="relative">
                      <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                      <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Traditional Cardigan</button>
                  </figure>
                  </a>
                </div>

                <div class="swiper-slide relative cursor-pointer">
                    <a href="/">
                      <figure class="relative">
                        <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Traditional Tuxedo</button>
                    </figure>
                    </a>
                  </div>
    
                  <div class="swiper-slide relative cursor-pointer">
                    <a href="/">
                      <figure class="relative">
                        <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Tweed Blazer</button>
                    </figure>
                    </a>
                  </div>
    
                  <div class="swiper-slide relative cursor-pointer">
                    <a href="/">
                      <figure class="relative">
                        <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Denim Jacket</button>
                    </figure>
                    </a>
                  </div>
            
            </div>
            <div class="swiper-pagination hidden md:block"></div>
          </div>
</section>


<section>
  <div class="py-6 mx-5">
      <h1 class="lg:text-6xl text-2xl md:text-4xl text-start font-bold">
         Curated Categories
      </h1>
  </div>
  <div class="first-section grid grid-cols-1 lg:grid-cols-7 gap-1 mx-5">
      <div class=" lg:col-span-4 relative w-full  rounded-lg">
        <!-- <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10 rounded-lg"></div> -->
          <img src="../imgs/men/man-landscape1.jpg" alt="" class="rounded-lg w-full object-cover h-full bg-no-repeat">
          
          <div class="absolute rounded-lg py-2 md:py-5 px-5 bottom-0 z-10 text-white gap-2 md:gap-5 flex flex-col bg-transparent glass w-full">
              <div class="flex flex-col gap-1">
                  <h1 class="text-2xl font-bold">Urban Streetwear</h1>
                  <h2 class="">Phosflour escently engage wordlide with web-enabled technology</h2>
              </div>
              <a href="" class="underline font-bold">
                 Shop Now
              </a>
          </div>
      </div>
      <div class="lg:col-span-3 relative flex flex-col gap-1">
        
        <div class="relative rounded-lg">
          
            <img src="../imgs/men/shoes.jpg" alt="" class="rounded-lg object-cover bg-no-repeat w-full">
            <div class="absolute rounded-lg py-5 px-5 bottom-0 z-10 text-white gap-2 md:gap-5 flex flex-col bg-transparent glass w-full">
              <div class="flex flex-col gap-1">
                  <h1 class="text-2xl font-bold">Business Attire</h1>
              </div>
              <a href="" class="underline font-bold">
                 Shop Now
              </a>
          </div>
        </div>
        <div class="relative rounded-lg">
            <img src="../imgs/men/watch.jpg" alt="" class="rounded-lg object-cover bg-no-repeat h-full w-full">
            <div class="absolute rounded-lg py-5 px-5 bottom-0 z-10 text-white gap-2 md:gap-5 flex flex-col bg-transparent glass w-full">
              <div class="flex flex-col gap-1">
                  <h1 class="text-2xl font-bold">Denim Collection</h1>
              </div>
              <a href="" class="underline font-bold">
                 Shop Now
              </a>
          </div>
        </div>
      </div>
  
      </div>
</section>

<section>
  <div class="flex items-center justify-center w-full h-[400px]">
      <h1 class="lg:text-6xl text-2xl md:text-4xl text-center font-bold">
        Embark on a Fashion Journey: Unraveling Uniwear's Eclectic Ensemble for Every Style and Occasion
      </h1>
  </div>
  <div class="third-section grid grid-cols-1 md:grid-cols-2 gap-1 mx-4 uppercase">
      <div class="relative w-full h-[580px]">
        <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"rounded-lg></div>
        <img src="../imgs/men/man-potrait.jpg" alt="" class="object-cover bg-no-repeat h-full w-full">
        <div class="absolute lg:bottom-12 md:bottom-16 bottom-8 z-10 translate-x-[-50%] left-[50%]  w-auto text-white gap-5 flex flex-col justify-center items-center">
          <div class="flex justify-center items-center flex-col gap-1">
              <h1 class="text-2xl font-bold">New ARRIVALS</h1>
          </div>
          <a href="/products">
              <button class=" text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150 rounded-xl border-2 bg-transparent">ShopNow</button>
          </a>
      </div>
      </div>
      <div class="relative w-full h-[580px]">
          <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"rounded-lg></div>
        <img src="../imgs/women/product1.jpg" alt="" class="object-cover bg-no-repeat h-full w-full">
        <div class="absolute lg:bottom-12 md:bottom-16 bottom-8 z-10 translate-x-[-50%] left-[50%]  w-auto text-white gap-5 flex flex-col justify-center items-center">
          <div class="flex justify-center items-center flex-col gap-1">
              <h1 class="text-2xl font-bold">Best Sellers</h1>
          </div>
          <a href="">
              <button class=" text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150 rounded-xl border-2 bg-transparent">ShopNow</button>
          </a>
      </div>
      </div>
      <div class="relative w-full h-[580px]">
          <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"rounded-lg></div>
          <img src="../imgs/women/product2(1).jpg" alt="" class="object-cover bg-no-repeat h-full w-full">
          <div class="absolute lg:bottom-12 md:bottom-16 bottom-8 z-10 translate-x-[-50%] left-[50%]  w-auto text-white gap-5 flex flex-col justify-center items-center">
            <div class="flex justify-center items-center flex-col gap-1">
                <h1 class="text-2xl font-bold">COLLABORATION</h1>
            </div>
            <a href="">
                <button class=" text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150 rounded-xl border-2 bg-transparent">ShopNow</button>
            </a>
        </div>
        </div>
        <div class="relative w-full h-[580px]">
          <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"rounded-lg></div>
        <img src="../imgs/men/india-5342927_1280.jpg" alt="" class="object-cover bg-no-repeat h-full w-full">
        <div class="absolute lg:bottom-12 md:bottom-16 bottom-8 z-10 translate-x-[-50%] left-[50%]  w-auto text-white gap-5 flex flex-col justify-center items-center">
          <div class="flex justify-center items-center flex-col gap-1">
              <h1 class="text-2xl font-bold">Collections</h1>
          </div>
          <a href="/collections">
              <button class=" text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150 rounded-xl border-2 bg-transparent">ShopNow</button>
          </a>
      </div>
      </div>
    </div>
</section>