<div class="first-section grid grid-cols-1 lg:grid-cols-7 gap-1">
    <div class=" lg:col-span-4 relative w-full">
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"></div>
        <img src="../imgs/men/tuxedo/black2.jpg" alt="" class="bg-cover object-cover h-full bg-no-repeat">
        <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/product_check">Modern Tuxedo</a>
    </div>
    <div class="lg:col-span-3 relative flex flex-col gap-1">
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-10"></div>
      <div class="relative">
          <img src="../imgs/men/tuxedo/white.jpg" alt="" class="bg-cover object-cover bg-no-repeat h-full">
      <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/product_check">Double-breasted Tuxedo</a>
      </div>
      <div class="relative">
          <img src="../imgs/men/tuxedo/black1.jpg" alt="" class="bg-cover object-cover bg-no-repeat h-full">
          <a class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150" href="/product_check">Traditional Tuxedo</a>
      </div>
    </div>

    </div>
    <div class="third-section grid grid-cols-1 lg:grid-cols-9 gap-1 mt-1">
      <div class="man-3 lg:col-span-3 relative w-full">
        <img src="../imgs/men/tuxedo/white2.jpg" alt="" class="bg-cover bg-no-repeat h-full">
        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">White Dinner Jacket</button>
      </div>
      <div class="man-3 lg:col-span-3 relative w-full">
        <img src="../imgs/men/tuxedo/suite-bow.jpg" alt="" class="bg-cover bg-no-repeat h-full">
        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Fashion Tuxedo</button>
      </div>
      <div class="man-3 lg:col-span-3 relative w-full">
        <img src="../imgs/men/tuxedo/blacksuit.jpg" alt="" class="bg-cover bg-no-repeat h-full">
        <button class="absolute bottom-14 md:bottom-12 translate-x-[-50%] left-[50%] z-10 bg-white text-black md:px-8 md:py-4 px-6 py-[10px] hover:bg-gray-300 duration-150">Velvet Tuxedo</button>
      </div>
    </div>