<div class="lg:grid lg:grid-cols-2 grid grid-cols-1">
    <div class="flex flex-col gap-1">
        <div>
            <img src="../imgs/men/tuxedo/black2.jpg" alt="">
        </div>
        <div>
            <img src="../imgs/men/tuxedo/black2.jpg" alt="">
        </div>
    </div>
    <div class="mx-16 py-6 flex flex-col items-center justify-start">
        <div>
            <div>
                <h1>Black tuxedo</h1>
                <h1>$1190</h1>
            </div>
            <div class="flex flex-col gap-3 mt-10 w-[400px]">
                <h1>Color: <span>Navy</span></h1>
               <div>
                <label for="Size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your size</label>
                <select id="sizes" class="text-sm block w-full p-2.5">
                <option selected>Size</option>
                <option value="US">40</option>
                <option value="CA">42</option>
                <option value="FR">44</option>
                <option value="DE">46</option>
                </select>
               </div>
                <h1>View the <a href="" class="underline">size guide</a></h1>
                <button type="button" class="text-white w-[400px] bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">ADD TO CART</button>
                <h1 class="text-sm">Order by 12PM ET 12/20 to receive by 12/22, with complimentary Next Day shipping.</h1>
            </div>
            <div class="gap-5 flex flex-col mt-10">
                <h1> <a href="" class="hover:underline">PRODUCT DETAILS</a> </h1>
                <h1> <a href="" class="hover:underline">FIND IN STORE</a></h1>
                <h1> <a href="" class="hover:underline">CONTACT US</a></h1>
            </div>
        </div>
        </div>