     <!-- Swiper -->
     <div class="swiper mySwiper2" id="swiper-2">
        <div class="swiper-wrapper h-[300px]">
    
    
         
            <div class="swiper-slide relative cursor-pointer">
              <a href="/">
                <figure>
                  <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                  <figcaption>
                      <h1>Tuxed</h1>
                      <p>new arrivals</p>
                  </figcaption>
              </figure>
              </a>
            </div>

            <div class="swiper-slide relative cursor-pointer">
                <a href="/">
                  <figure>
                    <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                    <figcaption>
                        <h1>Tuxed</h1>
                        <p>new arrivals</p>
                    </figcaption>
                </figure>
                </a>
              </div>

              <div class="swiper-slide relative cursor-pointer">
                <a href="/">
                  <figure>
                    <img src="../imgs/men/ameer-basheer-ABuzWPku1Ug-unsplash.jpg" alt="man" />
                    <figcaption>
                        <h1>Tuxed</h1>
                        <p>new arrivals</p>
                    </figcaption>
                </figure>
                </a>
              </div>
        
        </div>
        <div class="swiper-pagination hidden md:block"></div>
      </div>