/* Base styles */
.hero-video {
    height: 50vh;
    color: white;
    position: relative;
    opacity: 1;
}

.hero-video::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(15, 21, 37, .8);
    z-index: -1;
}

.video-words {
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center; /* Ensures text centers on small devices */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-video{
        height: 60vh; 
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-video{
        height: 70vh; 
    }
}


.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
.first-section.img{
    height: 500px;
}

